<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ profile.title }} Report</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/seanhamlin/drutiny/master/assets/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/seanhamlin/drutiny/master/assets/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="https://raw.githubusercontent.com/seanhamlin/drutiny/master/assets/manifest.json">
  <link rel="mask-icon" href="https://raw.githubusercontent.com/seanhamlin/drutiny/master/assets/safari-pinned-tab.svg" color="#00a9e3">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css">
  <style>
    body {
      padding-top: 45px;
      padding-bottom: 20px;
    }
    table {
      font-size: 14px;
    }
    .page-header {
      border-bottom: none;
    }
    @media print {
      .display-filters {
        display: none !important;
      }
      .table .danger td,
      .table td.danger,
      .table .danger th {
        background-color: #f2dede !important;
      }
      .table .warning td,
      .table td.warning,
      .table .warning th {
        background-color: #fcf8e3 !important;
      }
      .table .success td,
      .table td.success,
      .table .success th {
        background-color: #dff0d8 !important;
      }
    }
  </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="https://raw.githubusercontent.com/seanhamlin/drutiny/master/assets/logo.png" alt="Drutiny logo" style="float: left; width: 22px; margin-right: 10px;"/>
        {{ profile.title }} report
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

    </div><!--/.navbar-collapse -->
  </div>
</nav>
